/vendor
/node_modules
/.env
/storage/*.key
/public/storage
/public/hot
/public/build
/public/mix-manifest.json
/public/js/*.js
/public/css/*.css
/public/mix-manifest.json
/public/mix
/public/build-manifest.json
/public/js/*.js.map
/public/css/*.css.map
/public/mix-manifest.json
/public/mix
/public/manifest.json
/public/hot
.phpunit.result.cache
Homestead.json
Homestead.yaml
.env.backup
.env.local
.env.production
.env.testing
